.image_diseno {
  width: 100%;
  height: 300px;
}

.image__container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  background: white;
}

.description_diseno {
  height: 100%;
  width: 100%;
  border-bottom: 5px solid #38c3da;
}

.description__container {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.c-disenog {
  margin-bottom: 6rem !important;
}
