.members {
}

.members__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.member_card {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 15px;
  margin: 10px 10px;
  min-height: 200px;
  transition: all 350ms;
}

.member_card--logo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: gray;
}

.member_card:hover {
  transform: scale(1.05);
  border-radius: 6px;
  box-shadow: 0 25px 55px rgba(0, 0, 0, 0.2), 0 16px 28px rgba(0, 0, 0, 0.24);
}
